





.scrollview.outlineview {

}

.scrollview.outlineview span,
.scrollview.outlineview .header div{
    cursor:default;
}

.scrollview.outlineview table {
	min-width: 100%;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	table-layout: fixed;
	padding: 0px;
    font-size:inherit;
}    	

.scrollview.outlineview table .row > td.cell > div{
    margin-left:1px;    
}

.scrollview.outlineview table .row > td.cell span { 

    vertical-align:baseline; 
    display:inline; 
}

.scrollview.outlineview table .row > td.cell img {
    vertical-align:baseline;
    float:left;
    margin-right:0.3em;
}

.scrollview.outlineview table .row > td.cell img.checkBoxImage {
    float:none;
}

.scrollview.outlineview table .row > td.cell {
    position:relative;
}

.scrollview.outlineview table .row > td.cell a {
    display:inline-block;
}


.scrollview.outlineview table .row > td.cell .geckoFix {
    position: relative;
}

.scrollview.outlineview table .row > td.cell a .mediaViewer {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.scrollview.outlineview table .row > td.cell a .mediaViewer:hover {
    background-image: url(net.projectwizards.MerlinWeb.Eye.svg);
    background-repeat: no-repeat;
    background-size:40px 22px;
    background-position:50% 50%;
    opacity:0.7;
}



.scrollview.outlineview table .row > td.cell img + span {
    display:table-cell;
}

.scrollview.outlineview table .row > td.cell div.WordWrappingInAvailableSpace img + span {
    display:inline;
}




.scrollview.outlineview table .row > td.cell .disclosure{
    float:left;
    display:block;
    width:0.8em;
    height:0.8em;
    background-repeat: no-repeat;
}

.scrollview.outlineview table .row > td.cell .disclosure.filledRight{
	background-image: url(net.projectwizards.MerlinWeb.MEDisclosureFilledRight.svg);
    margin-top: 0.25em;
}

.scrollview.outlineview table .row > td.cell .disclosure.filledDown{
	background-image: url(net.projectwizards.MerlinWeb.MEDisclosureFilledDown.svg);
    margin-top: 0.32em;
}

.scrollview.outlineview table .row > td.cell .disclosure.emptyRight{
	background-image: url(net.projectwizards.MerlinWeb.MEDisclosureEmptyRight.svg);
    margin-top: 0.15em;
}

.scrollview.outlineview table .row > td.cell .disclosure.emptyDown{
	background-image: url(net.projectwizards.MerlinWeb.MEDisclosureEmptyDown.svg);
    margin-top: 0.25em;
}

.scrollview.outlineview table .row td.cell .trait {
    margin-right:2px;
    display:inline-block;
    height:1em;
    padding-top:0.1em;
}

.scrollview.outlineview table .row td.cell .checkBoxImage {
    height:1.1em;
}

.scrollview.outlineview table .row td {
    padding:0px;
}

.scrollview.outlineview table .row .otherTableRowDiv {
    width: 0px;
}

.background .row.selected,
.background .row.selected:nth-child(2n+1) {
    background-color:#DFE9F8 !important;
    position:relative;
}



.scrollview.outlineview table .row td.lastCell {
    position:relative;
}

.background .row > td.ganttCell {
    position:relative;
    padding:0px;
    vertical-align:middle;
    overflow: hidden;
}

.background .row.selectionTop > td.cell::before,
.background .row.selectionTop > td.lastCell::before,
.background .row.selectionTop > td.ganttCell::before
{
    content: "";
    background-color: #3E78D4;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
    display: block;
    z-index: 10;
}

.background .row.selectionBottom > td.cell::after,
.background .row.selectionBottom > td.lastCell::after,
.background .row.selectionBottom > td.ganttCell::after
{
    content: "";
    background-color: #3E78D4;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
    display: block;
    z-index: 10;    
}

.scrollview.outlineview table thead th:last-child {
	border-right: none;
}    	

.scrollview.outlineview .header td{
	word-wrap: break-word;

	
	/*
	background-image: url(ERROR:%20Unknown%20resource%20net.projectwizards.MerlinWeb/OutlineHeaderGradient.svg);
	background-size: 200% 100%;
	background-position: -100% 0px;
    */
    
	border-bottom: 1px solid #9B9B9B;	
	border-right: 1px solid #9B9B9B;	    
    position:relative;
}

.scrollview.outlineview .header .handle{
    width:8px;
    top:0;
    bottom:-500px;     
    position:absolute;

    right:-4px;
    cursor: col-resize;
    z-index:10000;
}

.scrollview.outlineview .header td:last-child {
	border-right: none !important;
}


.scrollview.outlineview .background {
    background-color: rgba(251, 251, 251, 1.0);
}



.WordWrapping {
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.WordWrappingInAvailableSpace {
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.Clipping {
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.TruncatingHead {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.TruncatingTail {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.TruncatingMiddle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.FontBasedImageSizingVertically {
    height: 1em;
    width: auto;
    padding-top: 0.15em;
}



.isReadOnly > div {
    opacity: 0.4;
}

.nolayout {
    display: none;
}

.alL {
    text-align:left;
}

.alC {
    text-align:center;
}

.alR {
    text-align:right;
}

