<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSavePoint</key>
	<dict>
		<key>reversionPoints</key>
		<dict>
			<key>9XpyTXuYSmyCpX_nUCzPSw</key>
			<dict>
				<key>masterBranch</key>
				<dict>
					<key>baseHistoryDigest</key>
					<string>xE3J7ZyjKaTzCdvCwZzXQEBSNss</string>
				</dict>
			</dict>
		</dict>
		<key>timestamp</key>
		<date>2017-06-14T23:46:46Z</date>
	</dict>
	<key>openPoint</key>
	<dict>
		<key>reversionPoints</key>
		<dict>
			<key>9XpyTXuYSmyCpX_nUCzPSw</key>
			<dict>
				<key>masterBranch</key>
				<dict>
					<key>baseHistoryDigest</key>
					<string>2MkeYGxzWoeQlFhQtGV1uyYNsT4</string>
				</dict>
			</dict>
		</dict>
		<key>timestamp</key>
		<date>2017-06-14T20:59:59Z</date>
	</dict>
	<key>savePoint</key>
	<dict>
		<key>reversionPoints</key>
		<dict>
			<key>9XpyTXuYSmyCpX_nUCzPSw</key>
			<dict>
				<key>masterBranch</key>
				<dict>
					<key>baseHistoryDigest</key>
					<string>q9xYp0DZXs3C924GcWM1tHYPlug</string>
				</dict>
			</dict>
		</dict>
		<key>timestamp</key>
		<date>2017-06-14T21:01:40Z</date>
	</dict>
	<key>userNames</key>
	<dict>
		<key>root</key>
		<string></string>
	</dict>
</dict>
</plist>
