







.splitview {
    border: 1px solid #9B9B9B; 
    overflow: hidden;	
    position: relative;
}



.splitview .part {
    position: relative;
}

.splitview div .splitter {
    background-color: #9B9B9B; 
    position: absolute;
}

.splitview div .splitter .effectiveSplitter {
    position: absolute;
    z-index: 10000;		
}

.splitview div .contentWrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
		
	position: absolute;
}

.splitview div .iFrameShield {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:999;
   
}



.splitview.vertical {
    height: 100%;
    box-sizing: border-box;
}

.splitview.vertical .part {
    float: left;
    height: 100%;
}

.splitview.vertical .part .splitter {
    height: 100%;
    min-width: 1px;	
    width: 1px;		
}

.splitview.vertical .part .splitter .effectiveSplitter {
    cursor: col-resize;
    height: 100%;
    left: -6px;		
    width: 15px;	
   
}

.splitview.vertical .part .splitter.bold {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F1F1F1; 
    background-image: url(net.projectwizards.Weblitz.WBLSplitViewKnob.png),    -moz-linear-gradient(left , #FAFAFA 0%, #E8E8E8 100%); 
    background-image: url(net.projectwizards.Weblitz.WBLSplitViewKnob.png), -webkit-linear-gradient(left , #FAFAFA 0%, #E8E8E8 100%);
    background-image: url(net.projectwizards.Weblitz.WBLSplitViewKnob.png),      -o-linear-gradient(left , #FAFAFA 0%, #E8E8E8 100%);
    background-image: url(net.projectwizards.Weblitz.WBLSplitViewKnob.png),     -ms-linear-gradient(left , #FAFAFA 0%, #E8E8E8 100%);
    background-image: url(net.projectwizards.Weblitz.WBLSplitViewKnob.png),         linear-gradient(left , #FAFAFA 0%, #E8E8E8 100%);
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
}

.splitview.vertical .part:first-child .splitter {
    right: 0; 
}

.splitview.vertical .part:first-child .splitter.bold {
    border-left: 1px solid #9B9B9B; 
    width: 9px;
}

.splitview.vertical .part:first-child .splitter.bold.moving {
    border-right: 1px solid #9B9B9B; 
    width: 10px;
}

.splitview.vertical .part:first-child .contentWrapper {
    right: 1px; 
}

.splitview.vertical .part:last-child .splitter {
    left: 0;  
}

.splitview.vertical .part:last-child .splitter.bold {
    border-right: 1px solid #9B9B9B; 
    width: 9px;
}

.splitview.vertical .part:last-child .splitter.bold.moving {
    border-left: 1px solid #9B9B9B; 
    width: 10px;
}

.splitview.vertical .part:last-child .contentWrapper {
    left: 0;
}



.splitview.horizontal {
    width: 100%;
}

.splitview.horizontal .part {
    float: none;
}

.splitview.horizontal .part .splitter {
    height: 1px;		
    min-height: 1px;	
    width: 100%;
}

.splitview.horizontal .part .splitter .effectiveSplitter {
    cursor: row-resize;
    height: 7px;
    top: -2px;
    width: 100%;
}

.splitview.horizontal .part .splitter.bold {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F1F1F1; 
    background-image: url(net.projectwizards.Weblitz.WBLSplitViewKnob.png),    -moz-linear-gradient(top , #FAFAFA 0%, #E8E8E8 100%); 
    background-image: url(net.projectwizards.Weblitz.WBLSplitViewKnob.png), -webkit-linear-gradient(top , #FAFAFA 0%, #E8E8E8 100%);
    background-image: url(net.projectwizards.Weblitz.WBLSplitViewKnob.png),      -o-linear-gradient(top , #FAFAFA 0%, #E8E8E8 100%);
    background-image: url(net.projectwizards.Weblitz.WBLSplitViewKnob.png),     -ms-linear-gradient(top , #FAFAFA 0%, #E8E8E8 100%);
    background-image: url(net.projectwizards.Weblitz.WBLSplitViewKnob.png),         linear-gradient(top , #FAFAFA 0%, #E8E8E8 100%);
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
}

.splitview.horizontal .part:first-child .contentWrapper {
    bottom: 1px;	
}

.splitview.horizontal .part:first-child .splitter {
    bottom: 0; 
}

.splitview.horizontal .part:first-child .splitter.bold {
    border-top: 1px solid #9B9B9B; 
    height: 9px;
}

.splitview.horizontal .part:first-child .splitter.bold.moving {
    border-bottom: 1px solid #9B9B9B; 
    height: 10px;
}

.splitview.horizontal .part:last-child .contentWrapper {
    top: 1px;	
}

.splitview.horizontal .part:last-child .splitter {
    top: 0; 
}

.splitview.horizontal .part:last-child .splitter.bold {
    border-bottom: 1px solid #9B9B9B; 
    height: 9px;
}

.splitview.horizontal .part:last-child .splitter.bold.moving {
    border-top: 1px solid #9B9B9B; 
    height: 10px;
}
